<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>306977934284-k1esclfs9475h5qo6enmao7ngmdtdgvm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.306977934284-k1esclfs9475h5qo6enmao7ngmdtdgvm</string>
	<key>API_KEY</key>
	<string>AIzaSyAB4f9uHrMKoje8gya36-A1UfsRNKs-WR0</string>
	<key>GCM_SENDER_ID</key>
	<string>306977934284</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.jasoncardinale.Free-Fall-Forever</string>
	<key>PROJECT_ID</key>
	<string>free-fall-forever</string>
	<key>STORAGE_BUCKET</key>
	<string>free-fall-forever.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:306977934284:ios:c10c15a19cf182ad</string>
	<key>DATABASE_URL</key>
	<string>https://free-fall-forever.firebaseio.com</string>
	<key>ADMOB_APP_ID</key>
	<string>ca-app-pub-3585103050615669~8950080760</string>
</dict>
</plist>